'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Harbour Plus'
      'submenu': [
        { 'label': 'Display Harbour Information', 'command': 'harbourlang:hbinfo' }
        { 'label': 'Format harbour file', 'command': 'harbourlang:hbformat' }
      ]
    ]
  }
]
